@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --cor_elementos: #5274C6;
    --cor_paleta_ford: #003478 ;
    --cor_hover: #334b82;
}
body {
    height: 90%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

hr {
    border: none;
    box-shadow: 10px 10px 10px #000000;
}

nav {
    background-color: #fff;
    position: fixed;
    padding: 10px;
    width: 100%;
}

header {
    width: 100%;
}

nav>div>ul>li>a {
    color: #4b4949;
    list-style: none;
    text-decoration: none;

    font-size: 20px;
}

.links_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links_nav>img {
    width: 100px;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    align-items: center;
    gap: 10px;

    font-weight: 500;
}

/* sessao carro */



.sessao_carro>span>img {
    width: 90%;
    max-width: 900%;
}

.sessao_carro>span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sessao_carro>div,
a {
    text-align: center;
    align-items: center;
    display: inline-block;
}

.sessao_carro>.texto_link {
    display: flex;
    justify-content: center;
    height: 10vh;
}
.centralizar_btn>button{
    align-items: center;
    background-color: var(--cor_elementos);
    color: #fff;
    padding: 10px;
}
.centralizar_btn>button>a{
    text-decoration: none;
}
.cont_btn>button a{
    color: #fff;
    background-color: var(--cor_elementos);
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
}
.cont_btn{
    padding-top: 50px;
}
/* footer */

footer {
    background-color: #003478;
    flex-shrink: 0;

}
.icon{
    width: 30px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex: 20%;

}

footer h3 {
    font-weight: 700;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;

    cursor: pointer;
}

.rodape_contato {
    margin-top: 30%;
}

h2 {
    color: #ffff;
}

/* pagina lancamento */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.conteudo-principal {
    flex-grow: 1;
    width: 100%;

   
    padding-top: 60px; 
    padding-bottom: 40px; 

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}
.container_iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 5%;
}

.container_iframe>iframe {
    width: 80vw;
    height: 80vh;
    max-width: 700vw;
}

.container_cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.card>.flex_carros {
    display: flex;
    justify-content: center;
}

.flex_carros {
    align-items: center;
}

.flex_carros>.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.card,
h3,
span {
    text-align: left;
    padding: 5px;

}

/* botao compra da pg lancamento */

.container_btn {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;

}

.container_btn>button {
    background-color: #5274C6;
    margin: 10px;
    border: 1px solid;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.container_btn>button:hover {
    background-color: #334b82;
    transition: 0.5s;
}

/* pg contato */

.container_modal {
    margin: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card>.caixas {

    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.formulario input {
    flex-direction: column;
    display: block;

    border: 1px solid #aaa;
    padding: 5% 15px 15px 25px;
    margin: 10px;
    border-radius: 10px;
}

.formulario>label {
    font-weight: 700;
    padding-left: 56px;
    align-items: center;
}

.flex_elementos {
    display: flex;
       
}
.flex_elementos>.formulario{
     background-color: #003478;
        padding: 10px;
        border-radius: 3px;
        color: #fff;
}
.flex_elementos>img {
    width: 700px;
    height: auto;
}

.modal {
    align-items: center;
    display: flex;
}

.caixas>span {

    align-items: end;
    justify-content: end;
    display: flex;
}

.caixas>span>button {
    background-color: #5274C6;
    border: 1px solid #aaa;
    color: #fff;
    padding: 5px 10px 10px 10px;

    cursor: pointer;
}

section {
    margin: 10%;
    min-height: 36vh;
}
